* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.clearfix:after{
  content: "";
  display: table;
  clear:both;
}

/* ::after {
  content: '';
  display: inherit;
  width: 25%;
  border-bottom: 1px solid black;
  margin: 20px auto;
} */

.fl{
  float: left;
}

.fr{
  float: right;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.jumbotron{
  height: 660px;
  background-image: url("../img/jumbotron.png");
  background-color: #FFF4EF;
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
}

.jumbotron:after{
  height: 50px;
  width: 100%;
  background-color: #3AC5B3;
  position: absolute;
  bottom: 0;
  left:0;
  content: "";
  border-top: 2px solid#33475C;
  border-bottom: 2px solid#33475C;
}

.navbar-1 {
  background: azure;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #3AC5B3;
}

li{
  text-align: center;
  display: inline-block;
  line-height: 50px;
  margin: 0 10px 0 10px;
}

button{
  background: azure;
  border-radius: 4px;
  border: 2px solid #FF7A59;
  color: #FF7A59;
  padding: 5px;
}

.gethub{
  background: #FF7A59;
  color: #fff;
}

.language {
  background: azure;
  border-right: 2px solid grey;
  padding-right: 10px;
}

.box-2 img{
  width: 15px;
  height: 15px;
}

.navbar-2{
  background: #fff;
  width: 100%;
  height: 50px;
}


.box-3{
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

select{
  outline: none;
  border: none;
}

.slogan-1{
  display: inline-block;
  width: 40%;
  font-size: 15px;
  margin-top: 10%;

}

.slogan-1 h1{
  font-size: 45px;
  color: #33475B;
  padding-bottom: 20px;
}

.jumbo1{
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.main-content{
  background: #F5F8FA;
  width: 100%;
}


.cubo-title{
  width: 60%;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.cubo-title img{
  width: 100px;
  height: 100px;
}

.cubo-title h2{
  color: #33475B;
  padding-bottom: 20px;
  font-size: 32px;
}


.freehub-row{
  background-color: #fff;
  box-shadow: 10px 10px 40px grey;
  width: 1200px;
  height: 300px;
  margin-bottom: 50px;
}

.libretto{
  width: 200px;
  height: 300px;
  margin-left: 10%;
  margin-top: 5%;
  line-height: 30px;
}

.crm{
  width:70%;
  height: 150px;
  vertical-align: middle;
  color: #33475B;
  margin-top: 5%;
}

.crm p{
  padding: 30px 0;
}

.contact{
  display: inline-block;
  margin-top: 10px;
}

.contact img{
  width: 14px;
  margin-right: 10px;
}
