* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.clearfix:after{
  content: "";
  display: table;
  clear:both;
}

/* .info-features {
    width: 100%;
    font-size: 18px;
    /* line-height per centrare in altezza */
    /* line-height: 20px; */
}


.title2-column::before {
  content: '';
  display: inherit;
  width: 80%;
  border-bottom: 1px solid black;
  margin: 60px auto;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.jumbotron{
  height: 660px;
  background-image: url("../img/jumbotron.png");
  background-color: #FFF4EF;
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
}

.jumbotron:after{
  height: 50px;
  width: 100%;
  background-color: #3AC5B3;
  position: absolute;
  bottom: 0;
  left:0;
  content: "";
  border-top: 2px solid#33475C;
  border-bottom: 2px solid#33475C;
}

.navbar-1 {
  background: azure;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #3AC5B3;
}

.menu-filter{
  text-align: center;
  display: inline-block;
  line-height: 50px;
  margin: 0 10px 0 10px;
}

button{
  background: azure;
  border-radius: 4px;
  border: 2px solid #FF7A59;
  color: #FF7A59;
  padding: 5px;
}

.gethub{
  background: #FF7A59;
  color: #fff;
}

.language {
  background: azure;
  border-right: 2px solid grey;
  padding-right: 10px;
}

.box-2 img{
  width: 15px;
  height: 15px;
}

.navbar-2{
  background: #fff;
  width: 100%;
  height: 50px;
}


.box-3{
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

select{
  outline: none;
  border: none;
}

.slogan-1{
  display: inline-block;
  width: 40%;
  font-size: 15px;
  margin-top: 10%;

}

.slogan-1 h1{
  font-size: 45px;
  color: #33475B;
  padding-bottom: 20px;
}

.jumbo1{
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.main-content{
  background: #F5F8FA;
  width: 100%;
}


.cubo-title{
  width: 60%;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.cubo-title img{
  width: 100px;
  height: 100px;
}

.cubo-title h2{
  color: #33475B;
  padding-bottom: 20px;
  font-size: 32px;
}

.free{
  font-size: 24px;
  margin-top: 10%;
}


.freehub-row{
  background-color: #fff;
  box-shadow: 2px 2px 5px grey;
  width: 1200px;
  height: 300px;
  margin-bottom: 50px;
}

.libretto{
  width: 200px;
  height: 300px;
  margin-left: 10%;
  margin-top: 5%;
  line-height: 30px;
}

.lean-more{
  background:  #FF7A59;
  color: white;
  padding: 15px 35px;

}

.crm{
  width:70%;
  color: #33475B;
  line-height: 20px;
}

.crm p{
  padding: 20px 0;
}

.credit li{
  list-style-type: none;
  display: inline-block;
  margin-top: 20px;
}

.credit img{
  width: 14px;
  margin-right: 10px;
}

.marketing{
  width: 33.333%;
  height: 700px;
  padding: 20px 50px 20px 0px;
}

.sales{
  width: 33.333%;
  height: 700px;
  padding: 20px 30px;
}

.service{
  width: 33.333%;
  height: 700px;
  padding: 20px 0px 20px 50px;
}


.column1{
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  line-height: 30px;
  padding: 20px 0;
}

.column2{
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  line-height: 30px;
  padding: 20px 0;
}

.column3{
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  line-height: 30px;
  padding: 20px 0;
}

.feature{
  line-height: 10px;
  padding: 20px 0;
}

.feature li{
  list-style-type: none;
  text-align: left;
}

.title-section{
  color: white;
  text-align: center;
  padding: 50px 0;

}

.title-section h2{
  padding: 0px 10px 20px;;
  font-size: 30px;

}

.learn-and-grow{
  background: linear-gradient(45deg,#00a4bd,#00bda5);
  width: 100%;
  height: 700px;
}

.learngrow-contain{
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

.box-top{
  width: 280px;
  height: 200px;
  border-right: 1px solid #fff;
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 30px;
}

.box-top img{
  width: 60px;
}

.plus::after{
  content: "+";
  position: relative;
  left: 50px;
  bottom: 105px;
  font-size: 25px;
}

.box-top p{
  font-size: 16px;
  line-height: 50px;
}

.box-bottom{
  width: 280px;
  height: 200px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 30px;
}

.box-bottom p{
  font-size: 16px;
  line-height: 50px;
}

.box-top img{
  width: 60px;
}

.box-bottom:last-child{
  border-right: none;
}

.box-top:nth-child(4){
  border:none;
}
