* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.clearfix:after{
  content: "";
  display: table;
  clear:both;
}

/* .info-features {
    width: 100%;
    font-size: 18px;
    /* line-height per centrare in altezza */
    /* line-height: 20px; */

.fl{
  float: left;
}

.fr{
  float: right;
}

.container{
  width: 1200px;
  margin: 0 auto;
}
/* utility class ^ */

/* start header */
.jumbotron{
  width: 100%;
  height: 660px;
  background-image: url("../img/jumbotron.png");
  background-color: #FFF4EF;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  color: #33475B;
}

.jumbotron:after {
  width: 100%;
  height: 50px;
  background-color: #3AC5B3;
  position: absolute;
  bottom: -3px;
  left:0px;
  content: "";
  border-top: 2px solid#33475C;
  border-bottom: 2px solid#33475C;
}

.navbar-1{
  background: azure;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #3AC5B3;
  display:block;
}

.navbar-2{
  line-height: 60px;
}

.menu-filter{
  text-align: center;
  display: inline-block;
  line-height: 50px;
  margin: 0 10px 0 10px;
}

button{
  background: azure;
  border-radius: 4px;
  border: 2px solid #FF7A59;
  color: #FF7A59;
  padding: 5px;
}

.gethub{
  background: #FF7A59;
  color: #fff;
}

.language {
  background: azure;
  border-right: 2px solid grey;
  padding-right: 10px;
}

.box-2 img{
  width: 15px;
  height: 15px;
}

.box-3{
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

select{
  outline: none;
  border: none;
}

.slogan-1{
  width: 500px;
  margin-top: 50px;
  font-size: 15px;
}

.slogan-1 h1{
  font-size: 45px;
  color: #33475B;
  padding-bottom: 20px;
}

.jumbo1{
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
/* and header */

/* start main page */
.main-content{
  background: #F5F8FA;
  color: #33475B;
}


.cubo-title{
  width: 60%;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.cubo-title img{
  width: 100px;
  height: 100px;
}

.cubo-title h2{
  padding-bottom: 20px;
  font-size: 32px;
}

.freehub-rowbox{
  background-color: #fff;
  box-shadow: 2px 2px 5px grey;
  width: 1200px;
  height: 300px;
  margin-bottom: 50px;
}

.libretto{
  width: 200px;
  height: 300px;
  margin-left: 100px;
  margin-top: 50px;;
  line-height: 30px;
}

.lean-more{
  background:  #FF7A59;
  color: white;
  padding: 15px 35px;
}

.crm h2{
  font-size: 24px;
  margin-top: 60px;
}

.crm{
  line-height: 30px;
  margin-left: 40px;
}

.crm p{
  padding: 20px 0;
}

.crm h3::before {
  content: '';
  display: inherit;
  width: 400px;
  border-bottom: 1px solid #33475B;
  margin: 0px 230px -18px;
}

.credit li{
  list-style-type: none;
  display: inline-block;
  margin-top: 20px;
}

.credit img{
  width: 14px;
  margin-right: 10px;
}

.marketing{
  width: 33%;
  height: 700px;
  padding: 20px 40px 20px 0px;
}

.sales{
  width: 33%;
  height: 700px;
  padding: 20px 15px 0 15px;
  margin-left: 5px;
}

.service{
  width: 33%;
  height: 700px;
  padding: 20px 0px 0px 40px;
  margin-left: 5px;
}

.title2-column::before {
  content: '';
  display: inherit;
  width: 260px;;
  border-bottom: 1px solid #33475B;
  margin: 40px auto;
}
.title2-column{
  font-size: 18px;
}

.column1{
  background: #fff;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  padding: 20px 40px;
}

.column2{
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  line-height: 30px;
  padding: 20px 40px;
}

.column3{
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  line-height: 30px;
  padding: 20px 40px;
}

.feature{
  font-size: 14px;
  line-height: 10px;
  margin: 20px 0px 50px 0px;
}

.feature li{
  list-style-type: none;
  text-align: left;
}

.feature img{
  padding-right: 15px;
  height: 14px;
}

.title-section{
  color: white;
  text-align: center;
  padding: 50px 0;

}

.title-section h2{
  padding: 0px 10px 20px;;
  font-size: 30px;

}
/* and main page */
/* start section */
.learn-and-grow{
  background: linear-gradient(35deg,#00a2bd,#00bda9);
  width: 100%;
}

.learngrow-contain{
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.box-top{
  width: 280px;
  height: 200px;
  border-right: 1px solid #fff;
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 30px;
}

.box-top img{
  width: 60px;
}

 .box-top .image-hand{
  width: 50px;
}

h3 .fa-plus{
  font-size: 15px;
  vertical-align: middle;
  padding-left: 10px;
}

.box-top p{
  font-size: 16px;
  line-height: 50px;
}

.box-bottom{
  width: 280px;
  height: 200px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 30px;
}

.box-bottom p{
  font-size: 16px;
  line-height: 50px;
}

.box-top img{
  width: 80px;
}

.box-bottom:last-child{
  border-right: none;
}

.box-top:nth-child(4){
  border:none;
}
/* and section */
/* start second section */
.number64{
  text-align: left;
  padding: 10px 10px;
  margin: 50px 0 0px 100px;
  line-height: 25px;
}

.number64 h2{
  font-size: 40px;
  padding-bottom: 20px;
}

.sponsor{
  width: 550px;
  margin: 70px 160px 40px 0;
}

.icon img{
  width: 120px;
  padding: 10px 5px 0 0;
}

.wistia img{
  width: 160px;
  height: 60px;
  padding-left: 10px;
}

.growing{
  margin-top: 50px;
  width: 500px;
  height: 350px;
}

.growing h2{
  font-size: 30px;
  padding-bottom: 30px;
}

.image{
  width: 300px;
}

.image img{
  height: 335px;
}
/* and second section */
/* start footer */
footer{
  background: #2D3E50;
  color: white;
}

.footer-contain{
  width: 100%;
  height: 300px;
  padding-top: 50px;

}
.foot-box{
  width: 25%;
  height: 300px;
  line-height: 30px;
}

.foot-box li{
  list-style-type: none;
}

.support{
  background: #fff;
  color: #2D3E50;
}

.foot-box i{
  font-size: 20px;
  color: white;
  padding: 15px 15px 0 0;
}

.page-language{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.page-language li{
  display: inline-block;
  list-style-type: none;
  margin: 20px;
}

.foot-hr{
  margin-bottom: 40px;
}

.legal li{
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 60px;
}
